<div>
    <h2>デバイス情報</h2>
    <div class="list-group" ng-show="device">
        <div class="list-group-item">
            <h5>device.cordova</h5>
            <p>{{device.cordova}}</p>
        </div>
        <div class="list-group-item">
            <h5>device.model</h5>
            <p>{{device.model}}</p>
        </div>
        <div class="list-group-item">
            <h5>device.platform</h5>
            <p>{{device.platform}}</p>
        </div>
        <div class="list-group-item">
            <h5>device.uuid</h5>
            <p>{{device.uuid}}</p>
        </div>
        <div class="list-group-item">
            <h5>device.version</h5>
            <p>{{device.version}}</p>
        </div>
        <div class="list-group-item">
            <h5>device.manufacturer</h5>
            <p>{{device.manufacturer}}</p>
        </div>
        <div class="list-group-item">
            <h5>device.serial</h5>
            <p>{{device.serial}}</p>
        </div>

    </div>
</div>