<div>
    <h2>ダイアログプラグイン</h2>
    <div class="list-group">
        <a class="list-group-item" ng-click="alert()">
            <h5>navigator.notification.alert</h5>
        </a>
        <a class="list-group-item" ng-click="confirm()">
            <h5>navigator.notification.confirm</h5>
        </a>
        <a class="list-group-item" ng-click="prompt()">
            <h5>navigator.notification.prompt</h5>
        </a>
        <a class="list-group-item" ng-click="beep()">
            <h5>navigator.notification.beep</h5>
        </a>
    </div>
</div>
