<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AddressBookContainer" connectionString="metadata=res://*/AddressBook.csdl|res://*/AddressBook.ssdl|res://*/AddressBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XPS\SQLEXPRESS;Initial Catalog=AddressBook;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AddressBookEntities" connectionString="metadata=res://*/AddressBook.csdl|res://*/AddressBook.ssdl|res://*/AddressBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XPS\SQLEXPRESS;Initial Catalog=AddressBook;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AddressBookEntities1" connectionString="metadata=res://*/AddressBook.csdl|res://*/AddressBook.ssdl|res://*/AddressBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XPS\SQLEXPRESS;Initial Catalog=AddressBook;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>