<div class="container">
    <h2>テキスト</h2>
    <form name="form" role="form">
        <div class="form-group">
            <label>テキストの保存と表示</label>
            <textarea ng-model="input" class="form-control"></textarea>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" ng-click="save()">上書き</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" ng-click="append()">追記</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" ng-click="remove()">削除</button>
            </div>
        </div>
    </form>

    <hr />
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="load()">保存したテキストを読みこみ</button>
    <br />
    <pre>{{input}}</pre>
</div>