<div class="container">
    <div class="action">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="captureAudio()">録音する</button>
    </div>

    <div class="action">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="captureImage()">写真をとる</button>
    </div>

    <div class="action">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="captureVideo()">録画する</button>
    </div>

    <div class="list-group" ng-repeat="item in files">
        <div class="list-group-item">
            <div class="header">{{item.name}}</div>
            <div class="content">
                <span>localURL:{{item.localURL}}</span>
            </div>
            <div class="content">
                <span>fillPath:{{item.fullPath}}</span>
            </div>
            <div class="content">
                <span>size:{{item.size}}</span>
            </div>
            <div class="content">
                <span>type:{{item.type}}</span>
            </div>
            <div class="content">
                <span>lastModifiedDate:{{item.lastModifiedDate}}</span>
            </div>
        </div>
    </div>
</div>