<div class="container">

    <ul class="list-group">
        <li class="list-group-item">振幅 <span class="value">{{current}}</span> </li>
    </ul>

    <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn btn-primary" ng-click="start()">START</button>
        <button type="button" class="btn btn-primary" ng-click="stop()">STOP</button>
    </div>

    <p>録音した音声の再生</p>
    <button type="button" class="btn btn-block btn-primary" ng-click="play()">PLAY</button>


</div>