<div>
    <h2>ファイル・ディレクトリ一覧</h2>
    <div class="list-group">
        <div class="list-group-item">
            <h5>file.applicationDirectory</h5>
            <p>{{file.applicationDirectory}}</p>
        </div>
        <div class="list-group-item">
            <h5>file.applicationStorageDirectory</h5>
            <p>{{file.applicationStorageDirectory}}</p>
        </div>
        <div class="list-group-item">
            <h5>file.dataDirectory</h5>
            <p>{{file.dataDirectory}}</p>
        </div>
        <div class="list-group-item">
            <h5>file.cacheDirectory</h5>
            <p>{{file.cacheDirectory}}</p>
        </div>
    </div>

    <h3>Andorid</h3>
    <div class="list-group">
        <div class="list-group-item">
            <h5>file.externalRootDirectory</h5>
            <p>{{file.externalRootDirectory}}</p>
        </div>
        <div class="list-group-item">
            <h5>file.externalRootDirectory</h5>
            <p>{{file.externalRootDirectory}}</p>
        </div>
    </div>

    <h3>iOS</h3>
    <div class="list-group">
        <div class="list-group-item">
            <h5>file.syncedDataDirectory</h5>
            <p>{{file.syncedDataDirectory}}</p>
        </div>
        <div class="list-group-item">
            <h5>file.tempDirectory</h5>
            <p>{{file.tempDirectory}}</p>
        </div>
        <div class="list-group-item">
            <h5>file.documentsDirectory</h5>
            <p>{{file.documentsDirectory}}</p>
        </div>
    </div>
</div>